

// Pretty Buttons
// Borrrowed from : https://gist.github.com/claviska/6117193
.pretty-buttons(@color, @background-from, @background-to) {

  color: @color;
  #gradient > .vertical(@background-from, @background-to, 0%, 100%);
  border: none;

  &:hover,
  &:focus,
  &:active,
  &.active {
    #gradient > .vertical(@background-to, @background-from, 0%, 100%);
    color: @color;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: @background-to;
    }
  }
}

@call-to-action-height: 60px;
// Call to action buttons like on portalsider.
.call-to-action {
  margin-bottom: 20px;

  .inner {
    position: relative;
    border-radius: @call-to-action-height / 2;
    background: white;
    height: @call-to-action-height;
    line-height: @call-to-action-height;
    display: table;
    width: 100%;

    a {
      padding: 0 @call-to-action-height;
      font-size: @font-size-h4;
      font-family: @headings-font-family;
      color: @text-color;
      display: table-cell;
      vertical-align: middle;
      line-height: initial;
    }


    img {
      position: absolute;
      left: 5px;
      top: 5px;
      height: 50px;
      width: 50px;
      border-radius: 25px;
      border: 3px solid @gray;
    }
  }

  i {
    position: absolute;
    right: 25px;
    top: @call-to-action-height / 2 - @nav-arrow-right-green-height / 2;

    .sprite(@nav-arrow-right-green);
  }

}
